/node_modules
/public/hot
/public/storage
/public/js/app.js
/public/css/app.css
/public/css/csgo.css
/public/css/lol.css
/public/css/valorant.css
/public/css/home.css
/public/css/panel.css
/public/css/retina.css
/public/css/main.css
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea