$col-dark : #050A20;
$col-dar2 : #020617;
$col-dar3 : #060c24;
$col-blue : #080F28;
$col-border : #232B46;
$col-border2 : #313955;
$col-white : #fff;
$col-gray0 : #979aae;
$col-gblue: #40BABF;
$new-transition: cubic-bezier(0.5,0,0,0.75);
$translateX: translateX(calc((0.25 * 2rem) * -1));